@CHARSET "UTF-8";

* {
	border: none;
}

hr {
	display: none;
}

body {
	background-color: #0065a6;
}

#wrapper, header {
	margin: 10px 0;
}

.row {
	background-color: #fff;
	padding: 10px;
}

.round {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px !important;
}

p {
	margin: 0;
}

h1 {
	float: left;
}

h2, h3 {
	margin-left: 15px;	
}

.panel h2, .panel h3 {
	margin-left: 0;
}

.add {
	margin-left: 15px;
}

.create {
	margin-right: 15px;
}

.back-button {
	margin-left: 15px;
}

.is-active > .accordion-title::before {
    content: "";
}

.accordion-title::before {
	content:"";
}
.accordion-title {
	min-height: 65px;
	vertical-align: bottom;
	padding: 0 0 0 15px;
	border: none !important;
}

.accordion-content {
	height: 200px;
	border: none !important;
}

.bigtext {
	font-size: 3em;
}

.middletext {
	font-size: 2em;
	color: #bbb;
}

.smalltext {
	font-size: 1.5em;
}

.down {
	line-height: 62px;
	vertical-align: bottom;
	min-height: 62px;
	margin: 0;
	padding: 0;
}

.errorbadge {
	height: 62px;
	width: 62px;
	float: right;
	font-size: 2em;
	line-height: 50px;
	vertical-align: middle;
}


.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
	float: none;
}

.align-left {
	text-align: left;
	float: none;
}

.right {
	float: right;
}

.left {
	float: left;
}

.floatform {
	display: inline;
}

p span {
	padding: 0 !important;
	margin-bottom: 5px;
}

.panel {
	background-color: #eee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: solid white 5px;
	padding: 5px;
}

.bold {
	font-weight: bold;
}

img {
	text-align: center;
}

.legend-1 {
	background-color: #0064a6;
}

.legend-2 {
	background-color: #003e66;
}

.smallbadge {
	height: 20px;
	width: 20px;
	line-height: 15px;
	vertical-align: middle;
	display: inline-block;
}

.verticalAlignMiddle {
	vertical-align: middle;	
}

.grey {
	color: #bbb;
}

.no-padding {
	padding: 5px;
	margin-bottom: 10px;
}

.padding-top-10 {
	padding-top: 10px;
}

.back {
	position: relative;
	top: 30px;
	left: 10px;
	font-size: 20px;
}

.menu {
	position: relative;
	top: 15px;
}

.button-group {
	margin-left: 5px;
}

#deleteProject {
	margin: 0;
}

#finalDelete {
	margin-top: 25px;
}